* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}
.container {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone img{
    height: 50rem;
}

.instagram-login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    height: 77%;
    min-height: 34rem;
}

.box-login {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}
.box-login:nth-child(1){
    min-height: 19rem ;
}
.imagem-instagram{
    height: 4rem;
}
.perfil-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    height: 9rem;
}

.continue { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.log-in{
    cursor: pointer;
    color: #fff;
    background-color: #0095f6;
    padding: 8px;
    border-radius: 4px;
    border: none;
}
.log-off{
    color: #0095f6;
    margin-top: 10px;
}
.box-login p,span{
    color: rgb(160, 160, 160);
}
.box-login a{
    color: #0095f6;
}
.dowload-loja{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;

}
.download{
    margin-top: 20px;
}
.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    border: none;
    margin: 3px;
}
.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}